# Archivos y carpetas de compilación
/build/
out/

# Dependencias de Maven
/.mvn/
/target/
dependency-reduced-pom.xml
mvnw*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Configuración de IDEs
# IntelliJ IDEA
/.idea/
/*.iml

# Eclipse
/.settings/
/*.classpath
/*.project
/*.prefs

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y datos temporales
*.log
*.tmp
*.bak
*.swp
*.swo

# Archivos generados por OpenXava
build/classes/
build/generated-sources/
build/generated-resources/
build/tmp/
**/module.properties

# Archivos específicos de SO
*.~lock.*
